<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 其他配置项 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.jackson0714.passjava.question.config.StringListTypeHandler"/>-->
<!--    </typeHandlers>-->
</configuration>
